[include mmu/base/*.cfg]
[include mmu/addons/blobifier.cfg]
[include mmu/addons/mmu_erec_cutter.cfg]
[include mmu/optional/client_macros.cfg]
[include mmu/optional/mmu_ercf_compat.cfg]
[include mmu/optional/mmu_menu.cfg]
[mcu]
serial: /dev/serial/by-id/<your-mcu-id>

[virtual_sdcard]
path: /home/kubuntu/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: none
max_velocity: 1000
max_accel: 1000
